.ezplatformlinkmanager-pagination {
    text-align: center;
    margin: 10px 0;
}

.ezplatformlinkmanager-pagination span,
.ezplatformlinkmanager-pagination a {
    background: #e6e6e6;
    background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
    border: 1px solid #bbb;
    border-radius: 2px;
    display: inline-block;
    margin: 0 3px;
    min-width: 20px;
    padding: 3px;
}

.ezplatformlinkmanager-link-list {
    min-width: 1024px;
}

.ezplatformlinkmanager-filters {
    clear: both;
}

.ezplatformlinkmanager-filter-searchquery {
    float: left;
    width: 50%;
    text-align: left;
}

.ezplatformlinkmanager-filter-searchquery input[type="search"] {
    line-height: 2.2em !important;
    height: auto !important;
    padding-top: 0;
    padding-bottom: 0;
    width: 350px;
}

.ezplatformlinkmanager-filter-searchquery input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button !important;
}

.ezplatformlinkmanager-filter-searchquery button {
    line-height: 2.2em !important;
    height: auto !important;
    padding-top: 0;
    padding-bottom: 0;
}

.ezplatformlinkmanager-filter-status {
    float: right;
    width: 50%;
    text-align: right;
}
